body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#header {
  background-color: rgb(230, 230, 230);
  display: flex;
  margin-bottom: 30px;
}

#title {
  margin: 20px;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Arial;
  color: rgb(156, 0, 117);
}

button {
  font-weight: bold;
  margin: 20px;
  border-radius: 10px;
  width: 14vh;
  margin-left: 20px;
  height: 4vh;
  border: none;
  background-color: rgb(50, 50, 50);
  color: white;
  font-family: "Segoe UI", Tahoma, Arial;
}

button:hover {
  background-color: rgb(156, 0, 117);
  color: white;
}

button:focus {
  outline: none;
}

.main-container {
  width: 40%;
  margin: auto;
}

.tut-app {
  font-family: arial;
  width: 50%;
  margin: auto;
}

.board-container {
  width: 40%;
  margin: auto;
}

.squares {
  border: 0.5px solid black;
  width: 7vh;
  height: 7vh;
}

.row-holder {
  display: flex;
}

.inputSquare {
  border: none;
  width: 6vh;
  height: 6vh;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma;
}

.inputSquare:focus {
  outline: none;
}
